$radius: 8px;

//버튼 공통
@mixin btnCommon {
  position: relative;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  letter-spacing: .2em;
  line-height: normal;
  max-width: 100%;  
  border-radius: $radius;  
  text-decoration: none;
  vertical-align: middle;
  font-weight: 700;
  outline: none;
  border: none;
  padding:0 20px;
}
@mixin btntype($btnFontSize,$btnBorder,$btnColor,$btnHoverColor,$btnHoverColor,$radius) {  
  font-size: $btnFontSize;
  border: $btnBorder;
  color: $btnColor;
  background-color: $btnBGColor;
  border-radius: $radius;
  &:hover,
  &:focus,
  &:active,    
  &.active:focus, 
  &:active:hover{
    background-color: $btnHoverColor;
    color: $btnHoverColor;
    text-decoration: none;
    border-color: $btnHoverColor;
  }
}

@mixin btnSize($btnFontSize,$btnPadding) { 
  font-size: $btnFontSize;
  padding: $btnPadding;
}

.button__wrap {
  position: relative;
  padding:20px 0 50px;
}
.btn {
  @include btnCommon;  
  &.search {
    color:#fff;
    background-color:#717883
  }
}