//폼 공통요소
$inputHeight: 32px;
$font-tsize: 16px;
$inputColor: #fafafa;
$pointColor: #2583F0;
$bordersColor: #ccc;

@mixin hiddens {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin inputBasic {  
    background-color: #fff;    
    border-radius: 3px;
    border: 1px solid $bordersColor;    
    color: $inputColor;
    display: inline-block;
    font-size: $font-tsize;
    height: $inputHeight;
    line-height: $inputHeight;    
    padding: 0 15px;    
    width: 100%;
}

.input {
  @include inputBasic;
}
//check box
//input 은 숨겨주기
//checkbox 는 .checkbox 클래스명의 엘리먼트안에 input 관 label 로 구현
//디자인 구현시 이미지 사용 여부등 결정
.checkbox {
  input[type=checkbox] {
    @include hiddens;
  }
  input[type=checkbox] + label {
    cursor: pointer;
    position: relative;
    display:inline-flex;
    align-items:center;
    &:before{
      content:"";
      display:inline-block;
      width:14px;
      height:14px;
      line-height:17px;
      border:1px solid #cbcbcb;
      vertical-align:middle;
      background:#fff;
      margin-right:10px;
      position: relative;
      top:1px;
    }    
  } 
  input[type=checkbox]:checked + label {
    &:before {
      background-color: $pointColor;
      border-color: $pointColor;
    }
  }
  input[type=checkbox]:checked + label {
    &:after{
      content:"";
      border:2px solid #fff;
      border-width:0 2px 2px 0;
      height:8px;
      position:absolute;
      top:8px;
      left: 5px;
      width: 5px;
      transform: rotate(45deg) scaleY(1)
    }    
  }
}
//radiobox
.radiobox {
  input[type=radio] {
    @include hiddens;
  }
  input[type=radio] + label {
    cursor: pointer;
    position:relative;
    display:inline-flex;
    align-items:center;
    &:before{
      content:"";
      display:inline-block;
      width:14px;
      height:14px;
      line-height:14px;
      border:1px solid #cbcbcb;
      border-radius: 100%;
      vertical-align:middle;
      background:#fff;
      margin-right:10px;
      position:relative;
      top:1px;
    }    
  } 
  input[type=radio]:checked + label {
    &::before {
      border-color:$pointColor
    }
    &::after {
      content: '';
      position: absolute;
      top: 9px;
      left: 3px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: $pointColor;
      border-radius:100%;
      box-shadow: none;
    }    
  }
  + .radiobox {
    margin-left:10px;
  }
}

.select {
  position:relative;
  display:inline-block;

  select {
    width: 180px;
    height: $inputHeight;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
    border:1px solid #ccc;
    padding:0 12px;
    color: #666;
    outline:none
  }
  select::-ms-expand {
    display:none;
  }
  &::after {
    content:'';
    display:inline-block;
    position: absolute;
    right:15px;
    top:10px;
    width: 8px; 
    height: 8px; 
    border: 1px solid #888; 
    border-width: 1px 1px 0 0; 
    transform: rotate(135deg) translate(-50%, -50%);
  }
}

$formLabelWidth : 120px;
.form-list {
  .form-item {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    + .form-item {
      margin-top: 20px;
    }
    &__label {
      flex:0 0 $formLabelWidth;
    }
    &__content {
      flex: auto;
      display:flex;
      .input {
        flex: auto;
      }
      .btn__certi {
        flex:0 0 160px;
        margin-left:10px;
      }
    }
    &__error {
      width: 100%;
      margin-left: $formLabelWidth;
      // margin-bottom:-24px;
      font-size:14px;
      line-height: 24px;
      color:#f56c6c;
    }
    
  }
}

.form-table {
  .form-item-row {
    display:flex;
    flex-wrap:wrap;
   + .form-item-row {
    margin-top:10px;
   }

   .guide-text {width:100%;}
  }
  .input-item {
    width:50%;
    display:flex;
    align-items:center;
    padding:0 5px;
    &:first-child {
      padding-left:0;
    }
    &:last-child {
      padding-right:0;
    }
    .input {
      flex:auto;
    }
    button {
      min-width:160px;
      margin-left:10px;
    }
  }
  

}