  //modal css
  body.modal-open {
    height:100%;
    overflow:hidden;
  }
  .overlay-mask {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  .modal__container {
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    // width: 500px;
    // height: 500px;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    .modal__content--header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height:60px;
      .modal-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }  
    }
    .modal__content--inner {
      height:auto;
      overflow: hidden;
    }
    .modal__content--body {
      height: calc(100% - 50px - 50px);
      position:relative;
      width: 100%;       
      padding: 20px;
      overflow-y: scroll;
    }
    .modal__content--footer {
      height:50px;
      display: flex;
      align-content: center;
      justify-content: center;
      background: #c9c8c8;
    }
    .modal-close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
      }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }