//table common
@mixin tableCommon {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  th,
  td {
    padding: 8px;
    border-bottom: 1px solid #F0F0F0;
  }
  th {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-color:#ddd;
    padding: 16px 0;
  }
  td {
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0;
    .c-align {
      text-align: center;
    }
    .l-align {
      text-align:left;
    }
    span {
      display:block;
    }
    .date {
      color: #888;
    }
  }
}

@mixin tableListType () {
  border-top: 2px solid $pointColor;
  @include tableCommon;
  th, td {
    text-align:center
  }
}

@mixin tableBodyType () {
  @include tableCommon;
  tr {
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }  
}

.table__wrap {
  width: 100%;
  position: relative;
  .table-list {
    @include tableListType
  }
  .table-bodyonly {
    @include tableBodyType;
  }
}