//table common
@mixin tableCommon {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  th,
  td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  th {
    background-color: #f8f8f8;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  tr:nth-child(odd) {
    background-color: #f8f8f8;
  }
  td {
    background-color: #fff;
    .type-center {
      text-align: center;
    }
  }
}

@mixin tableListType () {
  @include tableCommon;
  tr {
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

@mixin tableBodyType () {
  @include tableCommon;
  tr {
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }  
}

.table__wrap {
  width: 100%;
  position: relative;
  .table-list {
    @include tableListType
  }
  .table-bodyonly {
    @include tableBodyType;
  }
}