.notice-table {
    .table-list {
        table-layout: fixed;
    }
    .primary  {
        &__text {
            color:$pointColor;
            font-weight: 700;
        }
        .title {
            font-weight: 500;
            color: #204485;
        }   
    }
    .title {
        display:flex;
        align-items:center;
        justify-content:flex-start;
        a {
            @include ellipsis($line: 1);
        }
    }
    .ico-attach {
        display: inline-block;
        width:18px;
        height:19px;
        flex-shrink: 0;
        margin-left:5px;
        background:url('@/assets/images/customer/ico_attach.png') no-repeat 50% 50%
    }
    .ico-new {
        display: inline-block;
        width:30px;
        height:10px;
        flex-shrink: 0;
        margin-left:8px;
        background:url('@/assets/images/customer/ico_new.png') no-repeat 50% 50%;
    } 
}
@media #{$phone} {
    .notice-table {
        .table-list {
            tbody {
                tr {
                    display:flex; 
                    width:calc(100vw - (#{$contentPaddingM} * 2));
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items:flex-start;
                    padding: 16px 0 ;
                    border-bottom:1px solid #F0F0F0;
                 }
            }
            
             th {
                 display:none;
                 
             }
             td {
                 border: none;
                 padding:0;
             }
             .num {
                 display:none;
             }
             .primary  {
                 &__text {
                     position:absolute;;
                 }
                 .title {
                     text-indent:40px;
                 }   
             }
             .title {
                 display:block;
                 margin-bottom:4px;
                 a {
                     overflow:auto;
                     white-space:normal;
                 }
             }
             .date {
                font-size: 13px;
             }
             .ico-attach {
                 width:15px;
                 height:16px;
                 margin-left:4px;
                 vertical-align: top;
                 position:relative;
                 top:4px;
                 background:url('@/assets/images/customer/m_ico_attach.png') no-repeat 50% 50%;
                 background-size:100%;
             }
             .ico-new {
                 width:24px;
                 height:8px;
                 margin-left:4px;
                 position:relative;
                 vertical-align: top;
                 top:3px;
                 background:url('@/assets/images/customer/m_ico_new.png') no-repeat 50% 50%;
                 background-size:100%;
             } 

        }
       
    }

}