
$headerHeight: 100px;
$contentPaddingM: 16px;

.inner { 
    width:1280px;
    margin:0 auto;
}
// 컨텐츠 넓이 조정
.header {
    position:fixed;
    width:100%;
    border-bottom:1px solid #eaeaea;
    height:$headerHeight;
    background:#fff;
    z-index:10;
    .inner {
        display:flex;
        justify-content: space-between;
        align-items:center;
        height:100%;
    }
}
.header__logo  {
    h1{
        width:180px;
        height:30px;
        background:url('@/assets/images/layout/logo.png') no-repeat 50% 50%;   
    }
    a {
        display:block;
        height:100%;
    }
}
.header__menu {
    display:flex;
}
.nav {
    display:flex;
    align-items: center;
    &__inner {
        > ul{
            display:flex;
            align-items:center;
        }
        &:after {
            content:'';
            width:1px;
            height:18px;
            background-color:rgba(0,0,0,0.1)
        }
    }
    &-item {
        padding:0 24px;
        position:relative;
        > a {
            font-size:18px;
            line-height:100px;
            display:inline-block;
        }
        &:hover {
            .nav-sub {
                display: block
            }
        }
    }
    &-sub {
        position:absolute;
        display: none;
        left:-10px;
        top:100px;
        width:160px;
        padding: 20px;
        border:1px solid #ccc;
        background-color:#fff;
        li {
            
            a {
                font-size: 14px;
            }
        }
    }
    &__button {
        display:none;
    }

}
.header__util {
    display:flex;
    align-items:center;
    margin-left:48px;
    .link-dashboard {
        border:1px solid #000;
        width:118px;
        height:36px;
        border-radius:8px;
        font-size:14px;
        margin-right:24px;
        line-height:34px;
        text-align:center;
    }
    .alarm {
        display:inline-block;
        width:24px;
        height:24px;
        position:relative;
        width:38px;
        padding-left:5px;
        cursor:pointer;
        background:url('@/assets/images/layout/ico_alarm.png') no-repeat left 5px top 50%;
        &__num {
            border-radius:10px;
            padding:0 4px;
            font-size:10px;
            position:absolute;
            left:13px;
            background-color:#FF4830;
            color:#fff;
            line-height:13px;
        }
    }
    .user {
        position:relative;
        margin-right: 24px;
        > a {
            font-size: 14px;
            position:relative;
            display:inline-block;
            width: 74px;
            cursor: pointer;
            &::after {
                content:'';
                display:inline-block;
                position: absolute;
                right:6px;
                top:6px;
                width: 6px; 
                height: 6px; 
                border: 2px solid #666; 
                border-width: 1px 1px 0 0; 
                transform: rotate(135deg) translate(-50%, -50%);
            }
        }
        .user-menu {
            position:absolute;
            left:0;
            top:30px;
            border:1px solid #ccc;
            width:86px;
            background-color:#fff;
            padding:10px 12px;
            a {
                font-size: 12px;
                line-height:18px;
                cursor:pointer
            }
        }
    }
}
.contents {
    padding-top: $headerHeight;
    position: relative;
    min-height:500px;
    padding-bottom: 80px;
    .page-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align:center;
        padding-top: 82px;   
        margin-bottom: 32px;
    }
}

.breadcrumb {
    width:100%;
    position:absolute;
    top:$headerHeight + 32px;
    &-list {
        display:flex;
        align-items:center;
        li {
           line-height: 18px;
           font-size: 14px;
           color:#666;
            &:after {
                content:'';
                display:inline-block;
                width: 6px;
                height:10px;
                background:url('@/assets/images/layout/arrow_next.png') no-repeat 50% 50%;
                margin:0 12px;
            }
            &:last-child {
                &:after {
                    display:none;
                }
            }
        }
    }
}

.footer {
    background:#e6e6e6;
    .inner {
        padding:32px 0;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .policy-list {
        display:flex;
        align-items:center;
        margin-bottom: 24px;
        li {
            display:inline-flex;
            align-items:center;
            
            a {
                font-size: 14px;
                font-weight: 300;
                line-height: 19px;
                margin:0 24px;
            }
            &:after {
                content: '';
                width:1px;
                height: 12px;
                background-color:#D7D0D0
            }
            &:last-child{
                &:after {
                    display:none;
                }
            }
        }
    }
    .agency-list {
        display:flex;
        align-items:center;
        margin-bottom: 24px;
        li {
            margin:0 12px;
            a {
                display: block;
                width: 48px;
                height: 48px;
                background-size: cover;
                background-position: 50% 50%;
                border-radius:12px;
            }
            &.tworld {
                a {
                    background-image:url('@/assets/images/layout/logo_tworld.png')
                }
            }
            &.kt {
                a {
                    background-image:url('@/assets/images/layout/logo_kt.png')
                }
            }
            &.uplus {
                a {
                    background-image:url('@/assets/images/layout/logo_lg.png')
                }
            }
        }
    }
    .copyright {
        font-weight: 300;
        font-size: 14px;
        line-height:19px;
    }
}

// 모바일 

@media #{$phone} {

    $headerHeight: 48px;
    .inner { 
        width:100%;
    }
    // 컨텐츠 넓이 조정
    .header {
        height:$headerHeight;
        .inner {
            padding:0 16px;
        }
    }
    .header__logo  {
        h1{
            width:90px;
            height:15px;
            background-size:auto 11px;  
        }
        a {
            display:block;
            height:100%;
        }
    }
    .header__menu {
        display:block;
    }
    .nav {
        display:block;
        &__button {
            display:inline-block;
            
            height: 24px;
            width: 24px;
            background:url('@/assets/images/layout/btn_nav.png') no-repeat 50% 50%;
            background-size:100%;
        }
        &__inner {
            position:fixed;
            right:0;
            top:0;
            transform:translate(100%, 0);
            transition:transform 300ms linear;
            height:100vh;
            width:240px;
            background:#fff;
            
            > ul {
                flex-direction: column;
                align-items:flex-start;
            }
        }
        &.open {
            .nav__inner {
                transform:translate(0,0)
            }
        }
        &__item {
            width:100%;
        }
        &-sub {
            position:static;
            display: block;
            width:auto;
            padding: 0;
            border:none;
            background-color:#fff;
        }
    }
    .header__util {
        display:none;
    }
    .contents {
        padding-top: $headerHeight;
        padding-bottom: 56px;
        .inner {
            padding:0 16px;
        }
        .page-title {
            font-size: 21px;
            line-height: 27px;
            padding-top: 32px;   
            margin-bottom: 32px;
        }
    }
    .breadcrumb {
        display:none;
    }
    .footer {
        .inner {
            padding:32px 0;
        }
        .policy-list {
            margin-bottom: 20px;
            li {
                a {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    margin:0 16px;
                }
                &:after {
                    height: 10px;
                }
            }
        }
        .agency-list {
            margin-bottom: 20px;
            li {
                margin:0 6px;
                a {
                    width: 32px;
                    height: 32px;
                    background-size:100%;
                    border-radius:6px;
                    
                }
                &.tworld {
                    a {
                        background-image:url('@/assets/images/layout/m_logo_tworld.png')
                    }
                }
                &.kt {
                    a {
                        background-image:url('@/assets/images/layout/m_logo_kt.png')
                    }
                }
                &.uplus {
                    a {
                        background-image:url('@/assets/images/layout/m_logo_lg.png')
                    }
                }
            }
        }
        .copyright {
            font-size: 13px;
            line-height:20px;
        }
    }

  }

  