//login
@import "../components/ui/button.scss";  
.login {
    width: 100%;
    max-width:628px;
    margin: 80px auto;
    .login-title__wrap--top {
        text-align: center;
        .page-title {
        margin-bottom:10px;
        }
        p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;        
        }
    }
    .form-list {
        border-top:2px solid #2F77FB;
        margin:32px 0;
        .form-item {
        border-bottom:1px solid #F0F0F0;
        padding: 20px 0;
        margin:0;
        .form-item__label {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #000;
            padding-left:10px;
            flex: 0 0 200px;
        }
        .form-item__content {
            position: relative;
            padding-right: 20px;
            input::placeholder {
                font-size: 16px;
                line-height: 26px; 
                color: #999999;
            }
            .btn-only-icon {
                position: absolute;
                right: 30px;
                width: 30px;
                height: 30px;
                top: 50%;
                transform: translateY(-50%);                
                z-index: 10;
                border:0;
                padding:0;
                background: none;
                cursor: pointer;
            }
        }
        .form-item__error {
            margin:10px 0 0;
            padding-left: 220px;
            background-image: url('/src/assets/images/icon/icon_exclamation_circle.png');
            background-repeat: no-repeat;
            background-position: 200px center;
        }
      }      
    }
    .button__wrap {
        margin: 0px auto;
        padding:0;
        width: 100%;
        .btn-blue {            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 48px;
            background: #2F77FB;
            border-radius: 8px;
            color: #FFF;
            cursor: pointer;
        }
        .btn-login {
            display: block;
            width:100%;
        }
    }
    .help-menu__wrap--bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        .idfind {
            display: flex;
            a {
                position: relative;
                padding:0 12px; 
                &:first-child {
                    &::after {
                        content: '';
                        display: block;
                        width:1px;
                        height: 10px;
                        background: #D7D0D0;
                        position: absolute;
                        right:0;
                        top:50%;
                        transform: translateY(-50%);
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
            }            
        }
    }
    &.login-help {
        .category-tab {
            margin-top: 32px;
        }
        .form-item__content {
            .input {
                flex: 1;
            }
            .time {
                position: absolute;
                right:30px;
                top: 50%;
                transform: translateY(-50%);
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #000000;
                &.active {
                    color: #FF4830;
                    ;
                }
            }
        }
        .btn-default-line {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 26px;
            color: #4A5567;
            margin-left:10px;
            height: 42px;
            line-height: 42px;
            cursor: pointer;
        }
        .button__wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            .btn-blue-help {
                height: 48px;
                background: #2F77FB;
                padding:0 48px;
                border-radius: 8px;
                color: #FFF;
                cursor: pointer;
            }
        }
    }
}
